<div class="registrationPage">
    <div class="card cardForm" id="refFormNudge" style="width: 30rem;">
        <div class="card-body">
            <h2>Edit Room</h2>
            <form method="POST" action="/Rooms/editRooms/{{roomDocument._id}}/?_method=PUT">
                <input type="text" name="roomName" id="roomName" value="{{roomDocument.roomName}}" placeholder="Room Name"> <br><br>
                <input type="number" name="roomPrice" id="roomPrice" value="{{roomDocument.roomPrice}}" placeholder="Price"> <br><br>
                <input type="text" id="roomDescription" name="roomDescription" value="{{roomDocument.roomDescription}}" placeholder="Description"> <br><br>
                <select type="text" name="roomLocation" id="roomLocation" value="{{roomDocument.roomLocation}}" placeholder="Location">
                    <option value="null">Select a location</option>
                    <option value="toronto">Toronto</option>
                    <option value="ottawa">Ottawa</option>
                    <option value="vancouver">Vancouver</option>
                    <option value="montreal">Montreal</option>
                    <option value="edmonton">Edmonton</option>
                </select>
                <input type="submit" class="btn btn-danger" value="Update Room">
            </form>
        </div>
    </div>
</div> 